table{
    border-collapse: collapse;
    text-align: center;
}
td,th{
    border: 1px solid black;
}
div{
    margin-top: 20px;
    margin-left:250px;
}
input{
    width: 50px;
}
td{
    width: 200px;
    height: 100px;

}
th{
    background-color: aqua;

}
#resule{
    color: red;
}